/* Set sizes (slides, texts) */
.reveal h1.title {
  font-size: 2em;
}
.reveal h1 {
  font-size: 1.6em;
}
.reveal h2 {
  font-size: 1.3em;
}
.reveal h3 {
  font-size: 1.2em;
}

/* Alignment */
.reveal h1 {
  text-align: center;
}
.reveal h1.title {
  text-align: left;
}
.reveal .slides {
  text-align: left;
}
.reveal .slides figcaption {
  text-align: center;
}

/* Remove default styles */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
  text-shadow: none;
}
.reveal pre {
  width: 100%;
  background-color: transparent;
}
.reveal ol, .reveal dl, .reveal ul {
  margin: 0 0 0 2em;
}
.reveal blockquote {
  margin: 0 0 0 0;
  padding: 0 0 0 1em;
}
.reveal section pre, .reveal section img {
  box-shadow: none;
  border: none;
}

/* Font */
.reveal body, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'Rubik', sans-serif;
}
.reveal code {
  font-family: 'Ubuntu Mono', monospace;
}
